.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.264);
}

.list {
  padding: 10px;
}

.category {
  color: rgb(60, 59, 58);
  font-size: 14px;
}

.title {
  font-weight: 700;
  font-size: 21px;
}

.author {
  color: rgb(51, 137, 186);
}
